body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131515;
    color: #FFFAFB;
    font-family: Arial;
    padding: 40px;
}

.weather_card {
    background-color: #2B2C28;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 20px rgba(125, 226, 209, 1);
    
}
.container {
    display: flex;
    gap: 20px;
}

.pi {
    background-color: #2B2C28;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(125, 226, 209, 1);
}
.weather_card:hover, .pi:hover {
    box-shadow: 0 0 30px rgba(51, 153, 137, 1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}


h1 {
    color: #FFFAFB;
}

p {
    font-size: 18px;
}