<!DOCTYPE html>
<html>
<head>
    <title>Sentinel Weather</title>

    <meta http-equiv="refresh" content="10">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

    <div class="weather_card">
        <h1>🌤 Sentinel Weather</h1>

        <p>🌡 Temperature: {{ temp }}°C</p>
        <p>💨 Wind: {{ wind }} km/h</p>
        <p>☁ Condition: {{ condition }}</p>

        <hr>

        <p>👉 {{ advice }}</p>
    </div>

    <div class="pi">
        <h1>Raspberry Pi</h1>
        <p>CPU Usage: {{ cpu }}%</p>
        <p>RAM Usage: {{ memory }}%</p>
        <p>Temperature: {{ temper }}°C</p>
    </div>
    </div>
    

</body>
</html>